body {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cccccc;
  background-color: #252525;
}

h1 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hero {
  height: 100vh;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__logo {
  max-width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #252525; 
}

.page {
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 10px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #303030;
  padding: 30px 20px 20px 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  border-radius: 5px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

i {
  width: 30px;
  text-align: center
}

.equipment ul {
  background-color: #303030;
  padding: 40px 20px;
  margin: 10px 10px 0 0;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  border-radius: 5px;
}

.footer {
  text-align: center;
  line-height: 30px;
  font-size: 0.75em;
}